# FormSubmit - URL de redirecionamento após envio do formulário de contato
# Substitua pela URL do seu site em produção (ex: https://seusite.com.br/#contato)
NEXT_PUBLIC_FORM_SUBMIT_REDIRECT=https://seusite.com.br/#contato
